.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  /* background-color: #80bc64; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.chatBox{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.chatText{
  text-align: left;
  border-radius: 10px;
  max-width: 70%;
  min-width: 10%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  word-break: break-all;
}

.clientText{
  margin-left: 0.5%;
  background-color: red;
  padding-top: 1%;
  padding-bottom: 1%;
}

.serverText{
  margin-right: 0.5%;
  background-color: blue;
  padding-top: 1%;
  padding-bottom: 1%;
  align-self: flex-end;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
